<!DOCTYPE html>
<html>
	<head>
		<title>Yardstick Blog</title>
		{{ style('css/bootstrap.min')}}
		{{ style('css/style')}}
	</head>
	<body>
		@!include('inc/navbar')
		<div class="container">
			@!section('content')
		</div>
	</body>
</html>